.header {
    display: flex;
    justify-content: space-between;
    padding: 16px 320px;
    background: #1C1C21;

    .navElement {
        color: inherit; 
        text-decoration: none; 
        cursor: pointer;
    }
}